@{
    ViewBag.Title = "About";
    ViewBag.Message = "Tickets Manager Information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This system allows the user manage all the activities in her company and see the metrics of each area.</p>
