@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    UTN - FRC<br />
    Maestro M. Lopez esq. Cruz Roja Argentina<br />
    <abbr title="Web">Web:</abbr>
    <a href="http://www.frc.utn.edu.ar">http://www.frc.utn.edu.ar</a>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:bla@ticketsmanager.com">bla@ticketsmanager.com</a><br />
</address>