@{
    ViewBag.Title = "Tickets Manager";
}

<div class="jumbotron">
    <h1>TICKET MANAGER</h1>
    <p class="lead">We want to to contribute with the new Agile Metodologies.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create new activity</h2>
        <p>
            You can asign a new activity to your team or for one developer.
        </p>
        <p><a class="btn btn-default" href="~/Views/Home/new.cshtml">New Activity &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Edit existing ticket</h2>
        <p>If you or your team have some problem, you can edit your ticket.</p>
        <p><a class="btn btn-default" href="~/Views/Home/edit.cshtml">Edit Activity &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Delete a ticket</h2>
        <p>You can close the ticket, or if the time is over, it delete authomatly.</p>
        <p><a class="btn btn-default" href="~/Views/Home/delete.cshtml">Delete Activity &raquo;</a></p>
    </div>
</div>